/index.html         -diff -merge
/index.html         linguist-generated=true
/review/*.html      -diff -merge
/review/*.html      linguist-generated=true
/tests/*/*.html     -diff -merge
/tests/*/*.html     linguist-generated=true
/tests/*/*.json     -diff -merge
/tests/*/*.json     linguist-generated=true
